/* --------------------------------
          Google fonts
-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* --------------------------------
   Common classes / resuable CSS
-------------------------------- */
/* container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* heading / titles */
.title-lg {
  color: #272727;
  font-weight: 700;
  font-size: 80px;
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 32px;
}
.title-md {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 18px;
}
.title-footer {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 18px;
}
/* paragraphs */
.para-lg {
  color: #272727;
  font-size: 24px;
  text-decoration: underline;
}
.para-md {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}
/* buttons */
.btn-primary {
  background-color: #e55473;
  border-radius: 5px;
  color: #fff;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
/* ------------------- Styling Starts from here ------------------- */

/* --------------------------------
      Header section styling
-------------------------------- */
#header {
  background: rgba(229, 84, 115, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}
.header-para {
  margin-bottom: 30px;
}
.header-img { /* this code is for removing the gap of image at the bottom  */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------------------------------
      Featured section styling
-------------------------------- */
#featured-section {
  margin: 180px 0;
  text-align: center;
}
.featured-text {
  margin-bottom: 48px;
}
.featured-flower-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}
.featured-flower .flower {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 460px;
  height: 540px;
  margin-bottom: 32px;
}
.delivery-details {
  border-radius: 10px;
  background: rgba(39, 39, 39, 0.05);
  width: 100%;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.delivery-details .details p {
  margin-top: 18px;
  font-size: 20px;
}
/* --------------------------------
      Hot deal section styling
-------------------------------- */
#offer {
  background: rgba(229, 84, 115, 0.05);
  padding: 100px;
}
.offer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.offer-content {
  width: 700px;
  text-align: center;
}
.offer-content p {
  margin-bottom: 32px;
}
.offer-title span {
  color: #E55473;
}
/* --------------------------------
      Instagram section styling
-------------------------------- */
#instagram {
  margin: 130px 0;
  text-align: center;
}
.instagram-content p {
  margin-bottom: 48px;
}
.insta-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* --------------------------------
            Review Section
-------------------------------- */
#review {
  margin-bottom: 130px;
  background: rgba(229, 84, 115, 0.05);
  padding: 130px 0;
}
.review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}
.review-info h3 {
  font-weight: 600;
}
.review .review-text {
  font-style: italic;
  line-height: 32px;
  margin: 15px 0;
  font-size: 16px;
}
.person {
  display: flex;
  align-items: center;
  gap: 20px;
}
.reviewer h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
}
.reviewer p {
  color: rgba(39, 39, 39, 0.6);
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 350px;
}
.reviewer .next-btn button {
  background-color: #e55473;
  color: white;
  border: none;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  font-size: 24px;
  cursor: pointer;
}
/* --------------------------------
    newsetteler section styling
-------------------------------- */
.newsetteler-container {
  width: 100%;
  background-image: url("../img/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px;
  text-align: center;
  border-radius: 10px;
}
.newsetteler-text {
  margin-bottom: 48px;
}
.newsetteler-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.newsetteler-form input[type='email'] {
  padding: 16px;
  width: 600px;
  border: none;
  outline: none;
  border-radius: 5px;
}
/* --------------------------------
      Footer section styling
-------------------------------- */
#footer {
  background: #111010;
  padding: 128px 0;
  margin-top: 130px;
  text-align: center;
}
.footer-text h3 span {
  color: #E55473;
} 
.footer-text .footer-para {
  color: rgba(255, 255, 255, 0.90);
  margin-bottom: 32px;
}
.footer-text .footer-copyright {
  color: rgba(255, 255, 255, 0.40);
}